<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <!-- <sidebar-cmp></sidebar-cmp> -->
        <div class="sidebar-wrapper">
            <div class="logo">
            <a href="http://www.no1s1.space" class="simple-text logo-mini">
                <div class="logo-image-small">
                <img src="../../../assets/img/favicon.png">
                </div>
            </a>
            <a href="" class="simple-text logo-normal">
                Dashboard
            </a>
            </div>
            <ul class="nav">
                <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                    <a [routerLink]="[menuItem.path]">
                        <i class="nc-icon {{menuItem.icon}}"></i>
                        <p>{{menuItem.title}}</p>
                    </a>
                </li>
            </ul>
        </div>
  
    </div>
    <div class="main-panel">
        <!-- <navbar-cmp></navbar-cmp> -->
        <div class="content">
            <!-- <router-outlet></router-outlet> -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-globe text-warning"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Battery Capacity</p>
                            <p class="card-title">100%
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-refresh"></i> Update Now
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-money-coins text-success"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Total Balance</p>
                            <p class="card-title">{{accmBalance}}
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-calendar-o"></i> Last day
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-vector text-danger"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Status</p>
                            <p class="card-title">not occupied
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-clock-o"></i> In the last hour
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-favourite-28 text-primary"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Total Users</p>
                            <p class="card-title">{{accmUsers}}
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-refresh"></i> Update now
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card ">
                    <div class="card-header ">
                      <h5 class="card-title">no1s1 Account Balance</h5>
                      <p class="card-category">24 Hours performance</p>
                    </div>
                    <div class="card-body ">
                      <canvas id=chartHours width="400" height="100"></canvas>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- <div class="col-md-4">
                  <div class="card ">
                    <div class="card-header ">
                      <h5 class="card-title">Pie Chart</h5>
                      <p class="card-category">Performance</p>
                    </div>
                    <div class="card-body ">
                      <canvas id="chartEmail"></canvas>
                    </div>
                    <div class="card-footer ">
                      <div class="legend">
                        <i class="fa fa-circle text-primary"></i> Opened
                        <i class="fa fa-circle text-warning"></i> Read
                        <i class="fa fa-circle text-danger"></i> Deleted
                        <i class="fa fa-circle text-gray"></i> Unopened
                      </div>
                      <hr>
                      <div class="stats">
                        <i class="fa fa-calendar"></i> Number of emails sent
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="col-md-12">
                  <div class="card card-chart">
                    <div class="card-header">
                      <h5 class="card-title">Performance</h5>
                      <p class="card-category">User Increase</p>
                    </div>
                    <div class="card-body">
                      <canvas id="speedChart" width="400" height="100"></canvas>
                    </div>
                    <div class="card-footer">
                      <div class="chart-legend">
                        <i class="fa fa-circle text-info"></i> Users
                        <!-- <i class="fa fa-circle text-warning"></i> BMW 5 Series -->
                      </div>
                      <hr/>
                      <div class="card-stats">
                        <i class="fa fa-check"></i> Data updated
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
