<div class="wrapper">
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(assets/img/no1s1_bg8.jpg)" > 
        </div>
        <div class="container" >
            <div class="content-center">
                <div class="row" >
                    <div class="col-md-6" >
                        <div class="card card-login card-plain">
                            <div class="header header-primary text-center" >
                                <div class="logo-container" >
                                    <img src="assets/img/logo_inner_white.png" alt="">
                                </div>
                                <!-- <div><h3><strong>Information</strong></h3></div> -->
                            </div> 
                            <!-- <h3 class="title" style="background-color: blue;">Information</h3> -->
                            <div class="row" style="background-color:rgba(0, 0, 0, 0.082);opacity: 1;">
                                <div class="container content-center">
                                    <h5 style="color: rgb(223, 81, 29);"><strong>Information</strong></h5>
                                    <div class="progress-container progress-neutral">
                                        <span class="progress-badge"><strong>Battery State of Charge</strong></span>
                                        <ngb-progressbar [value]="Bstateofcharge"><span class="progress-value">{{Bstateofcharge}}%</span></ngb-progressbar><br>
                                        <!-- <p><strong>Maximum Stay</strong> <br>{{Aduration}}Min</p>
                                        <p><strong>Cost</strong> <br>{{Cost}} WEI</p> -->
                                        <p><strong>Address</strong><br>{{user.address}} </p>
                                        <p><strong>Balance</strong><br>{{user.balance}} WEI</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-login card-plain">
                            <div class="header header-primary text-center">
                                <div class="logo-container"></div>
                            </div>
                            <!-- <form [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate autocomplete="off"> -->
                            <form class="form-group" [formGroup]="buyform" (ngSubmit)="submitForm()" novalidate autocomplete="off" method="" action="">
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                    </div>
                                </div>

                                <h3 class="title">Deposit</h3>
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                    </div>
                                </div>
                                <div class="content">
                                    <!-- <form [formGroup]="buyform" (ngSubmit)="submitForm()">  -->
                                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="User Name" [value]='user.userName' (input)="user.userName=logdata($event)">
                                        </div>
                                        <div class="form-group">
                                            <!-- <label for="website">Website:</label>  -->
                                            <select class="form-control" [formControl]="buyDropdown">
                                                <option disabled>Select Duration</option>
                                                <option style="color:black" [value]="duration" *ngFor="let duration of Duration">{{duration}}</option>
                                            </select>
                                                <!-- Submit Button -->
                                            <div class="footer text-center">
                                                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Transfer</button>
                                            </div>
                                        </div>
                                    <!-- </form> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-login card-plain">
                            <div class="header header-primary text-center">
                                <div class="logo-container">
                                </div>
                            </div>
                            <!-- <form [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate autocomplete="off"> -->
                            <form class="form-group" (ngSubmit)="submitForm()" novalidate autocomplete="off" method="" action="">
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                    </div>
                                </div>

                                <h3 class="title">Entry</h3>
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                    </div>
                                </div>
                                <div class="row" style="background-color:rgba(0, 0, 0, 0.13);">
                                    <div class="container content-center">
                                        <h5 style="color: rgb(223, 81, 29);"><strong>Your QR Code</strong></h5>
                                        <qrcode #qrcode [qrdata]="qrvalue" [width]="256" [errorCorrectionLevel]="'M'" elementType="img"></qrcode>
                                    </div>
                                </div>

                                <div class="footer text-center">
                                    <button (click)="downloadQR()" class="btn btn-primary btn-round btn-lg btn-block">Download QR code</button>                               </div>
                                <!-- type="submit" -->
                                <!-- <div class="pull-left">
                                    <h6>
                                        <a href="#pablo" class="link">Create Account</a>
                                    </h6>
                                </div>
                                <div class="pull-right">
                                    <h6>
                                        <a href="#pablo" class="link">Need Help?</a>
                                    </h6>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="card card-login card-plain">
                            <div class="header header-primary text-center">
                                <div class="logo-container">
                                </div>
                            </div>
                            <!-- <form [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate autocomplete="off"> -->
                            <form class="form-group" (ngSubmit)="submitForm()" novalidate autocomplete="off" method="" action="">
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                    </div>
                                </div>

                                <h3 class="title">Redeem</h3>
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="User name" [value]='user.transferAddress' (input)="user.transferAddress=logdata($event)">
                                    </div>
                                </div>


                                <div class="footer text-center">
                                    <button click="submitForm()" class="btn btn-primary btn-round btn-lg btn-block">Redeem Deposit</button>
                                </div>
                                <!-- type="submit" -->
                                <!-- <div class="pull-left">
                                    <h6>
                                        <a href="#pablo" class="link">Create Account</a>
                                    </h6>
                                </div>
                                <div class="pull-right">
                                    <h6>
                                        <a href="#pablo" class="link">Need Help?</a>
                                    </h6>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            no1s1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Team
                        </a>
                    </li>
                    <li>
                        <a href="/aboutme">
                            About Me
                        </a>
                    </li>
                    <li>
                        <a href="https://ethz.ch/de.html">
                            ETHZ License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}
                <!-- , Designed by -->
                <!-- <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. -->
            </div>
        </div>
    </footer>
</div>