<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/no1s1_bg10.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <img src="assets/img/logo_inner_white.png" width="70" alt="">
                <!-- <div class="photo-container">   
                </div> -->
                <h3 class="title">no1s1</h3>
                <!-- <p class="category">Decentralized autonomous space</p>  -->
                <h2 class="title">Read Me</h2> 
                <p class="category">Please read before attemp to enter my space</p> 
            </div>
        </div>
    </div>
    <!-- <div class="section">
        <div class="container">
          <div class="button-container">
              <a href="#button" [routerLink]="['/examples/login']"  class="btn btn-danger btn-round btn-lg">Enter the Space</a>
          </div>
        </div>
    </div> -->

    <div class="section section-tabs">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 ml-auto col-xl-6 mr-auto">
                    <p>This document is to designed to help first-time users to get started. 
                        <br>
                        Upon first-time usage, 
                        <br>
                        &nbsp;&nbsp;&nbsp; o you have never used or hold crypto currency and would like to install one, please read General Info and Crypto Wallet.
                        <br>
                        &nbsp;&nbsp;&nbsp; o you have never used or hold crypto currency and do not want to install any extension. However, you still would like to experience the space for a test experience. please read General Info and Test Experience.
                        <br>
                        &nbsp;&nbsp;&nbsp; o you have blockchain experience and have used crypto wallet, please read General Info.</p> 
                    <!-- <p class="category">Tabs with Icons on Card</p> -->
                    <div class="card">
                      <div class="nav-tabs-navigation" data-tabs-color="orange">
                          <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'center'" class="text-center">
                                  <ngb-tab>
                                    <ng-template ngbTabTitle>
                                      <i class="now-ui-icons objects_umbrella-13"></i> General Info
                                    </ng-template>
                                      <ng-template ngbTabContent>
                                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                      </ng-template>
                                  </ngb-tab>

                                  <ngb-tab>
                                    <ng-template ngbTabTitle>
                                      <i class="now-ui-icons shopping_cart-simple"></i> Crypto Wallet
                                    </ng-template>
                                      <ng-template ngbTabContent>
                                          <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                      </ng-template>
                                  </ngb-tab>

                                  <ngb-tab>
                                    <ng-template ngbTabTitle>
                                        <i class="now-ui-icons shopping_shop"></i> Test Experience  
                                    </ng-template>
                                      <ng-template ngbTabContent>
                                          <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                      </ng-template>
                                  </ngb-tab>

                                  <!-- <ngb-tab>
                                    <ng-template ngbTabTitle>
                                      <i class="now-ui-icons ui-2_settings-90"></i> Additional Info
                                    </ng-template>
                                      <ng-template ngbTabContent>
                                        <p>
                                            "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                        </p>
                                      </ng-template>
                                  </ngb-tab> -->

                              </ngb-tabset>

                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            no1s1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Team
                        </a>
                    </li>
                    <li>
                        <a href="/examples/profile">
                            About Me
                        </a>
                    </li>
                    <li>
                        <a href="https://ethz.ch/de.html">
                            ETHZ License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
