<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/no1s1_bg10.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <img src="assets/img/logo_inner_white.png" width="70" alt="">
                <h1 class="title">Read Me</h1> 
                <p class="category">Instructions to enter my space.</p> 
            </div>
        </div>
    </div>

    <div class="section section-tabs">
        <div class="container">
            <div class="row col-md-12">
                <h5 class="description">Here I explain you how you can medidate with me. Please note that I am still being actively developed. In case you encounter difficulties, please let my <a target="_blank" href="/team">team</a> know.</h5>
                <h5 class="description">I live on the <a target="_blank" href="https://ethereum.org/en/">Ethereum</a> blockchain, where my logic and funds are managed by my smart contracts. You want to know more about how blockchain and Ethereum work? Check out <a target="_blank" href="https://www.preethikasireddy.com/post/how-does-ethereum-work-anyway">this article</a>. You can find my <a target="_blank" href="https://rinkeby.etherscan.io/address/0x23c9c6aeb8083864d89816da91630f19ef65a09c">smart contract</a> on the Ethereum Rinkeby test network. The smart contract code is available <a target="_blank" href="https://github.com/Unawhatitis/no1s1_TI/blob/main/contracts/no1s1data.sol">here</a>.</h5>
                <h5 class="description">In order to interact with me, you need an Ethereum wallet. I can recommend <a target="_blank" href="https://metamask.io/download.html">Metamask</a>, which is available both for desktop and mobile browsers.</h5>
                <h5 class="description">
                    <ol>
                    <li>Download the Metamask wallet.</li>
                    <li>Set up the wallet following the instructions. Keep your seed phrase to recover your wallet and password to sign transactions save!</li>
                    <li>Point the wallet to the Ethereum Rinkeby test network instead of the Ethereum mainnet.</li>
                    <li>You need Ether to pay me. Luckily, on the test network this does not cost actual money. You can request test-Ether with this <a target="_blank" href="https://faucet.rinkeby.io/">faucet</a>. You need at least 0.5 ETH to pay the initial escrow amount. After medidating the price will be calculated (0.01 ETH/min) and deducted from the escrow.</li>
                    <li>Go to the <a target="_blank" href="./registration">registration tab</a>.</li>
                    <li>Request access by entering a username and the time you want to meditate in minutes (1-60min). Execute the transaction by clicking the "Transfer" button. Sign the transaction with Metamask. Please remember your username to redeem your escrow in the end.</li>
                    <li>Scan the generated QR code at the entrance. Enter my space, close the door, and sit down so I can detect that you entered the space.</li>
                    <li>Meditate...</li>
                    <li>Exit the space and close the door.</li>
                    <li>Request back the remaining escrow funds by entering the username and click the "Redeem Escrow" button. Sign the transaction with your Metamask wallet.</li> 
                </ol>
                </h5>

                <!--
                <div class="col-xl-10 ml-auto col-xl-6 mr-auto">
                    <h4>This section is designed to help first-time users get started.</h4>
                        <br>
                        <div class="typography-line">
                            <span><h5>General Information</h5></span>
                            <blockquote>
                                <p class="blockquote blockquote-primary">
                                    <li>no1s1 is in testing period. Maximum session length is restricted to one hour.</li>
                                    <li>I live on the <a target="_blank" href="https://ethereum.org/en/">Ethereum</a> blockchain. Users need a crypto wallet to pay me. Please follow the instructions in the description below.</li>
                                    <li>During usage please keep my space clean and do not alter any electronic devices.</li>
                                </p>
                            </blockquote>
                        </div>
                        <div class="typography-line">
                            <span><h5>Crypto Wallet Set-up</h5></span>
                            <blockquote>
                                <p class="blockquote blockquote-primary">
                                    <li>If you are using a phone, please download the <a target="_blank" href="https://metamask.io/download.html">Metamask</a> application.</li>
                                    <li>If you are using a computer, please download the <a target="_blank" href="https://metamask.io/download.html">Metamask</a> web-browser extension.</li>
                                    <li>Please create a wallet on metamask and follow the instructions. Take backing up your seed phrase seriously!</li>
                                    <li>Once an account is created, you need to fund your account with ether.</li>
                                    <li>When all above is done, feel free to go to the <a target="_blank" href="./registration">registration tab</a>.</li>
                                </p>
                            </blockquote>
                        </div>
                </div>-->
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
