<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/no1s1_bg10.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <img src="assets/img/logo_inner_white.png" width="70" alt="">
                <h1 class="title">Read Me</h1> 
                <p class="category">Please read before attempting to enter my space.</p> 
            </div>
        </div>
    </div>
    <!-- <div class="section">
        <div class="container">
          <div class="button-container">
              <a href="#button" [routerLink]="['/examples/login']"  class="btn btn-danger btn-round btn-lg">Enter the Space</a>
          </div>
        </div>
    </div> -->

    <div class="section section-tabs">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 ml-auto col-xl-6 mr-auto">
                    <h4>This section is designed to help first-time users get started.</h4>
                        <br>
                        <!-- Upon first-time usage, 
                        <br>
                        &nbsp;&nbsp;&nbsp; o you have never used or hold crypto currency and would like to install one, please read General Info and Crypto Wallet.
                        <br>
                        &nbsp;&nbsp;&nbsp; o you have never used or hold crypto currency and do not want to install any extension. However, you still would like to experience the space for a test experience. please read General Info and Test Experience.
                        <br>
                        &nbsp;&nbsp;&nbsp; o you have blockchain experience and have used crypto wallet, please read General Info.</p>  -->

                        <div class="typography-line">
                            <span><h5>General Information</h5></span>
                            <blockquote>
                                <p class="blockquote blockquote-primary">
                                    <li>no1s1 is in testing period. Maximum session length is restricted to one hour.</li>
                                    <li>I live on the <a target="_blank" href="https://ethereum.org/en/">Ethereum</a> blockchain. Users need a crypto wallet to pay me. Please follow the instructions in the description below.</li>
                                    <li>During usage please keep my space clean and do not alter any electronic devices.</li>
                                </p>
                            </blockquote>
                        </div>
                        <div class="typography-line">
                            <span><h5>Crypto Wallet Set-up</h5></span>
                            <blockquote>
                                <p class="blockquote blockquote-primary">
                                    <li>If you are using a phone, please download the <a target="_blank" href="https://metamask.io/download.html">Metamask</a> application.</li>
                                    <li>If you are using a computer, please download the <a target="_blank" href="https://metamask.io/download.html">Metamask</a> web-browser extension.</li>
                                    <li>Please create a wallet on metamask and follow the instructions. Take backing up your seed phrase seriously!</li>
                                    <li>Once an account is created, you need to fund your account with ether.</li>
                                    <li>When all above is done, feel free to go to the <a target="_blank" href="./examples/login">registration tab</a>.</li>
                                </p>
                            </blockquote>
                        </div>
                        <!-- <div class="typography-line">
                            <span><h6>
                                Additional Information</h6></span>
                            <blockquote>
                                <p class="blockquote blockquote-primary">
                                    
                                </p>
                            </blockquote>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="container">
            <!--<nav>
                <ul>
                    <li>
                        <a href="#">
                            no1s1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Team
                        </a>
                    </li>
                    <li>
                        <a href="/examples/profile">
                            About Me
                        </a>
                    </li>
                    <li>
                        <a href="https://ethz.ch/de.html">
                            ETHZ License
                        </a>
                    </li>
                </ul>
            </nav>-->
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
