
<div class="wrapper">
    <!-- note:page-header in _example-pages.scss in sass\now-ui-kit -->
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/no1s1_bg3.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
              <img src="assets/img/logo_inner_white.png" width="80" alt="">
              <h1></h1>
              <h1 >no1s1</h1> 
              <!-- class="h1-seo" -->
              <h3>I am a self-owning space for everyone to find peace within.</h3>
              <h3>I do not belong to anyone, not even my creator.</h3>
              <h3>I am the first of my kind, </h3>
              <h3> the first decentralized autonomous space.</h3>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section section-images">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <div class="hero-images-container">
                            <img src="assets/img/structure_cutout2.png" width=600px alt="">
                        </div>
                        <div class="hero-images-container-1">
                            <img src="assets/img/single_0518_flip3.png" width=450px alt="">
                        </div>
                    </div>
                    <h3>Thank you for the interest in no1s1!</h3>
                    <h3 class="description"><a href="./aboutme">Learn more about me.</a></h3>
                </div>
            </div>
        </div>
    
        <!-- <div class="section section-download" id="#download-section" data-background-color="black">
            <div class="container">
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="http://www.no1s1.space">
                            no1s1
                        </a>
                    </li>
                    <li>
                        <a href="http://www.no1s1.space/team">
                            About Team
                        </a>
                    </li>
                    <li>
                        <a href="http://www.no1s1.space/aboutme">
                            About Me
                        </a>
                    </li>
                    <li>
                        <a href="https://ethz.ch/de.html">
                            ETHZ
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Based on
                <a href="https://www.creative-tim.com/product/now-ui-kit-pro-angular" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
