
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/no1s1_bg3.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
              <h1></h1>
              <h1></h1>
              <h1></h1>
              <img src="assets/img/logo_inner_white.png" width="80" alt="">
              <h1></h1>
              <h1 >no1s1</h1> 
              <!-- class="h1-seo" -->
              <h3>I am a self-owning space for everyone to find peace within.</h3>
              <h3>I do not belong to anyone, not even my creator.</h3>
              <h3>I am the first of my kind, </h3>
              <h3> the first decentralized autonomous space.</h3>
            </div>
          <!-- <h6 class="category category-absolute">Designed by
              <a href="https://invisionapp.com/" target="_blank">
                  <img src="assets/img/invision-white-slim.png" class="invision-logo" />
              </a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">
                  <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
              </a>.</h6> -->
        </div>
    </div>

    <div class="main">
        <div class="section section-images">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <div class="hero-images-container">
                            <img src="assets/img/structure_cutout2.png" width=600px alt="">
                        </div>
                        <div class="hero-images-container-1">
                            <img src="assets/img/single_0518_flip3.png" width=450px alt="">
                        </div>
                    <!-- <div class="hero-images-container-2">
                        <img src="assets/img/hero-image-3.png" width="100" alt="">
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    
        <div class="section section-download" id="#download-section" data-background-color="black">
            <div class="container">
            <!-- <div class="row justify-content-md-center">
                <div class="text-center col-md-12 col-lg-8">
                    <h3 class="title">Do you love this Bootstrap 4 UI Kit?</h3>
                    <h5 class="description">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim or Invision where you can find the kit in HTML or Sketch/PSD format. Start a new project or give an old Bootstrap project a new look!</h5>
                </div>
                <div class="text-center col-md-12 col-lg-8">
                    <a href="https://www.creative-tim.com/product/now-ui-kit-angular" class="btn btn-primary btn-lg btn-round" role="button">
                        Download Angular
                    </a>
                    <a href="https://www.invisionapp.com/now" target="_blank" class="btn btn-primary btn-lg btn-simple btn-round" role="button">
                        Download PSD/Sketch
                    </a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row text-center mt-5">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2>Want more?</h2>
                    <h5 class="description">We've just launched
                        <a href="https://timcreative.github.io/now-ui-kit-pro-angular/presentation" target="_blank">Now UI Kit PRO Angular</a>. It has a huge number of components, sections and example pages. Start Your Development With A Badass Bootstrap 4 UI Kit.</h5>
                </div>
                <div class="col-md-12">
                    <a href="https://timcreative.github.io/now-ui-kit-pro-angular/presentation" class="btn btn-neutral btn-round btn-lg" target="_blank">
                        <i class="now-ui-icons arrows-1_share-66"></i> Upgrade to PRO
                    </a>
                </div>
            </div>
            <br>
            <br> -->
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for the interest in no1s1!</h3>
                        <h3 class="description"><a href="./examples/profile">Learn more about me.</a></h3>
              <!-- </div>
              <div class="text-center col-md-12 col-lg-8">
                <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutra btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                  <i class="fab fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                  <i class="fab fa-facebook-square"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit-angular" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
                  <i class="fab fa-github"></i>
                </a>
              </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <!--<nav>
                <ul>
                    <li>
                        <a href="#">
                            no1s1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Team
                        </a>
                    </li>
                    <li>
                        <a href="/examples/profile">
                            About Me
                        </a>
                    </li>
                    <li>
                        <a href="https://ethz.ch/de.html">
                            ETHZ License
                        </a>
                    </li>
                </ul>
            </nav>-->
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
