<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/no1s1_bg1.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <img src="assets/img/logo_inner_white.png" width="70" alt="">
                <h3 class="title">no1s1</h3>
                <p class="category">Decentralized autonomous space</p> 
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">

          <h3 class="title">Testing</h3>
          <br>
          <h3 class="title">3d Animation</h3>
          
    </div>

    <canvas id="c"></canvas>



    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            no1s1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Team
                        </a>
                    </li>
                    <li>
                        <a href="/aboutme">
                            About Me
                        </a>
                    </li>
                    <li>
                        <a href="https://ethz.ch/de.html">
                            ETHZ 
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>
