<!-- big note: the adjustment of page-header is at _section.scss in src\assets\sass\now-ui-kit -->
<div class="wrapper">
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(assets/img/no1s1_bg8.jpg)" > 
        </div>
        <div class="container" >
            <div class="content-center">
                <div class="row" >
                    <div class="col-md-6" >
                        <div class="card card-login card-plain">
                            <div class="header header-primary text-center" >
                                <div class="logo-container" >
                                    <img src="assets/img/logo_inner_white.png" alt="">
                                </div>
                            </div> 
                            <div class="row" style="background-color:rgba(0, 0, 0, 0.082);opacity: 1;">
                                <div class="container content-center">
                                    <h5 style="color: rgb(223, 81, 29);"><strong>Information</strong></h5>
                                    <div class="progress-container progress-neutral">
                                        <span class="progress-badge"><strong>Battery State of Charge</strong></span>
                                        <ngb-progressbar [value]="Bstateofcharge"><span class="progress-value">{{Bstateofcharge}}%</span></ngb-progressbar><br>
                                        <p><strong>Address</strong><br>{{useraccount.address}} </p>
                                        <p><strong>Balance</strong><br>{{useraccount.balance}} ETH</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="card card-login card-plain">
                            <div class="header header-primary text-center">
                                <div class="logo-container"></div>
                            </div>
                            <!-- keep empty space for logo-->
                            <div class="header header-primary text-center">
                                <div class="logo-container">
                                </div>
                            </div>
                            <h3 class="title">Deposit</h3>
                            <!-- keep empty space for logo-->
                            <div class="header header-primary text-center">
                                <div class="logo-container">
                                </div>
                            </div>
                                
                            <div class="content">
                                <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                                    <div class="form-group">
                                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                                            </div>
                                            <input type="text" class="form-control" id="username" 
                                                    required
                                                    placeholder="User Name (required)" 
                                                    name="username"  [value]='userModel.username' 
                                                    (input)="userModel.username=logdata($event)">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <select class="form-control" id="duration" 
                                            name="duration" 
                                            (input)="userModel.duration=logSdata($event)"
                                            >
                                            <option disabled>Select Duration</option>
                                            <option style="color:black" [ngValue]="userModel.duration" *ngFor="let duration of durations">{{duration}}</option>
                                        </select>
                                            <!-- Submit Button -->
                                        <div class="footer text-center">
                                            <button type="submit" 
                                            class="btn btn-primary btn-round btn-lg btn-block"
                                            [disabled] = "!userModel.username "
                                            >Transfer</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-login card-plain">
                            <div class="header header-primary text-center">
                                <div class="logo-container">
                                </div>
                            </div>
                            <!-- <form [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate autocomplete="off"> -->
                            <form class="form-group" (ngSubmit)="downloadQR()" novalidate autocomplete="off" method="" action="">
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                    </div>
                                </div>

                                <h3 class="title">Entry</h3>
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                    </div>
                                </div>
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="usernameqr" 
                                            required
                                            placeholder="User Name (required)" 
                                            name="usernameqr"  [value]='userModel.usernameqr' 
                                            (input)="userModel.usernameqr=logdata($event)">
                                </div>
                                <div class="row" style="background-color:rgba(0, 0, 0, 0.13);">
                                    <div class="container content-center">
                                        <!-- <h5 style="color: rgb(223, 81, 29);"><strong>Your QR Code</strong></h5> -->
                                        <qrcode #qrcode *ngIf="display" [qrdata]="value" [width]="256" [errorCorrectionLevel]="'M'" elementType="img"></qrcode>
                                    </div>
                                </div>

                                <div class="footer text-center">
                                    <button (click)="onGenerateQR()"
                                    class="btn btn-primary btn-round btn-lg btn-block"
                                    [disabled]="!userModel.usernameqr">Generate QR code</button>                                
                                </div>
                                <button type="submit"
                                    class="btn btn-primary btn-round btn-lg btn-block"
                                    [disabled]="defaultqr?true:null">Download QR code</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-login card-plain">
                            <form (ngSubmit)="returnDep(pass_username)" #redeemForm="ngForm">
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                    </div>
                                </div>
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                    </div>
                                </div>
                                <h3 class="title">Redeem</h3>
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="form-group">
                                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                                            </div>
                                            <input type="text" class="form-control" id="pass_username" 
                                                    placeholder="User Name (required)" 
                                                    name="pass_username"  [value]='pass_username' 
                                                    (input)="pass_username=logdata($event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit"
                                    [disabled] = "!pass_username"
                                    class="btn btn-primary btn-round btn-lg btn-block">Redeem Deposit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.no1s1.space">
                            no1s1
                        </a>
                    </li>
                    <li>
                        <a href="https://www.no1s1.space/team">
                            About Team
                        </a>
                    </li>
                    <li>
                        <a href="https://www.no1s1.space/aboutme">
                            About Me
                        </a>
                    </li>
                    <li>
                        <a href="https://ethz.ch/de.html">
                            ETHZ
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, based on
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
            </div>
        </div>
    </footer>
</div>