<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/no1s1_bg10.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <img src="assets/img/logo_inner_white.png" width="70" alt="">
                <!-- <div class="photo-container">   
                </div> -->
                <!--<h3 class="title">no1s1</h3>
                <p class="category">Decentralized autonomous space</p> -->
                <div class="content">
                    <div class="social-description">
                        <h2>{{PVvoltage}} V</h2>
                        <p>Solar Panel Input Voltage</p>
                    </div>
                    <div class="social-description">
                        <h2>{{systemenergy}} W</h2>
                        <p>System Output Energy</p>
                    </div>
                    <div class="social-description">
                        <h2>{{Bstateofcharge}} %</h2>
                        <p>Battery State of Charge</p>
                    </div>
                    <div class="social-description">
                        <h2>{{balance}} ETH</h2>
                        <p>Financial Balance</p>
                    </div>
                </div>
                <p>*the data is updated every 15 minutes.</p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="button-container">
              <a href="#button" href='/registration'  class="btn btn-danger btn-round btn-lg">Enter the Space</a>
              <!-- <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fab fa-instagram"></i>
              </a> -->
            </div>
        <h3 class="title">The Vision</h3>
          <h5 class="description">The idea of no1s1 is inspired by a futuristic concept called <a target="_blank" href="https://blog.oceanprotocol.com/nature-2-0-27bdf8238071?gi=5c736df2ad47">Nature2.0</a>, where things leverage the possibility to own themselves on the blockchain. no1s1 is the first prototype that applies this idea to the built enviroment. It is a space that owns itself. You can read more details in our recently published <a target="_blank" href="https://ec-3.org/publications/conferences/2021/paper/?id=185">Conference Paper</a>.</h5>
        <h3 class="title">The Build</h3>
            <h5 class="description">I am currently defined as a meditation space. I am built with A-frame wood modular construction and powered by a PV-Battery system. Anyone is welcome to enter - as long as I have sufficient energy reserve.</h5>
            <!--<div class="separator separator-primary"></div>
            <canvas id="c"></canvas>-->
            <div class="row">
                <div class="col-md-12">
                    <!-- <h4 class="title text-center">My system</h4> -->
                    <img src="assets/img/exploded_axon_0518.png" >
                    
                      <!-- <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons design_image"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons location_world"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                              <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons sport_user-run"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset> -->
                </div>
            </div>
        </div>
    </div>

    
    <footer class="footer" data-background-color="black">
        <div class="container">
            <!--<nav>
                <ul>
                    <li>
                        <a href="#">
                            no1s1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Team
                        </a>
                    </li>
                    <li>
                        <a href="/examples/profile">
                            About Me
                        </a>
                    </li>
                    <li>
                        <a href="https://ethz.ch/de.html">
                            ETHZ License
                        </a>
                    </li>
                </ul>
            </nav>-->
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Based on
                <a href="https://www.creative-tim.com/product/now-ui-kit-pro-angular" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
    
</div>
