<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/no1s1_bg10.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <img src="assets/img/logo_inner_white.png" width="70" alt="">
                <!-- <div class="photo-container">   
                </div> -->
                <!--<h3 class="title">no1s1</h3>
                <p class="category">Decentralized autonomous space</p> -->
                <div class="content">
                    <div class="social-description">
                        <h2>{{PVvoltage}} V</h2>
                        <p>Solar Panel Input Voltage</p>
                    </div>
                    <div class="social-description">
                        <h2>{{systemenergy}} W</h2>
                        <p>System Output Energy</p>
                    </div>
                    <div class="social-description">
                        <h2>{{Bstateofcharge}} %</h2>
                        <p>Battery State of Charge</p>
                    </div>
                    <div class="social-description">
                        <h2>{{no1s1balance}} ETH</h2>
                        <p>Financial Balance</p>
                    </div>
                </div>
                <p>*the data is updated every 15 minutes.</p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="button-container">
              <a href="#button" href='/registration'  class="btn btn-danger btn-round btn-lg">Enter the Space</a>
              <!-- <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fab fa-instagram"></i>
              </a> -->
            </div>
       
        <h3 class="title">The Vision</h3>
          <h5 class="description">I am inspired by a futuristic concept called <a target="_blank" href="https://blog.oceanprotocol.com/nature-2-0-27bdf8238071?gi=5c736df2ad47">Nature2.0</a>, where things own themselves on the blockchain. no1s1 is the first prototype that applies this idea to the built enviroment. I am a space that owns itself. You can read more details in this recently published <a target="_blank" href="https://ec-3.org/publications/conferences/2021/paper/?id=185">Conference Paper</a>.</h5>
        <h3 class="title">The Build</h3>
            <h5 class="description">I am a meditation space for a single person. I am built with A-frame wood modular construction and powered by a PV-Battery system so I can sustain myself. Anyone is welcome to enter for a small fee - as long as I have sufficient energy left.</h5>
            <!--<div class="separator separator-primary"></div>
            <canvas id="c"></canvas>-->
            <div class="row">
                <div class="col-md-12">
                    <!-- <h4 class="title text-center">My system</h4> -->
                    <img src="assets/img/exploded_axon_0518.png" >
                    
                </div>
            </div>
        <h3 class="title">The Location</h3>
            <h5 class="description">Currently I am located at the new <a target="_blank" href="https://sph.ethz.ch/about">Student Project House</a> at the ETH Zurich Centrum Campus. I am looking forward to your visit!</h5>
            <div class="row">
                <div class="col-md-12 aligncenter">
                    <!-- <h4 class="title text-center">My system</h4> -->
                    <img width="50%" src="assets/img/no1s1_SPH.JPG" >
                    
                </div>
            </div>
        </div>
    </div>

    
    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.no1s1.space">
                            no1s1
                        </a>
                    </li>
                    <li>
                        <a href="https://www.no1s1.space/team">
                            About Team
                        </a>
                    </li>
                    <li>
                        <a href="https://www.no1s1.space/aboutme">
                            About Me
                        </a>
                    </li>
                    <li>
                        <a href="https://ethz.ch/de.html">
                            ETHZ
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Based on
                <a href="https://www.creative-tim.com/product/now-ui-kit-pro-angular" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
    
</div>
